// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';



body{
	background-color: $main-bg;
	font-family: $secondary-font;
}

h1{
	font-family: $main-font;
}

h2{
	
	&.has-text-gradient{
		font-weight: 800;
		word-spacing: 0;
		letter-spacing: 0;
		font-weight: 16vw !important;
		background: -webkit-linear-gradient($white, $main-text);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

}

.gradientBg {
	background: linear-gradient(to right, $primary-color, $secondary-color);
	// background: linear-gradient(to right, $secondary-bg, $main-bg);
	background: linear-gradient(to right, $main-bg, $secondary-color);
}

.content__title {
	font-family: $main-font;
	margin: 0;
	position: relative;
	pointer-events: none;
	font-weight: 300 !important;
	color: $main-text;
	text-align: center;
	background: -webkit-linear-gradient($white, $main-text);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.content__title--multiline {
	font-size: 6vw !important;
	line-height: 1.2 !important;
	text-transform: none;
	letter-spacing: -1px !important;
	word-spacing: -4px !important;
}

.content__title-row {
	display: block;
	em{
		font-size: 6.5vw !important;
		font-family: $secondary-font;
		font-weight: 800 !important;
		letter-spacing: -1px !important;
	}
}

.content__title-row:first-child {
	margin-right: 22vw;
}

.month {
	font-weight: 700 !important;
	font-size: 3vw !important;
}

.year {
	font-size: 6vw !important;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.features{
	.container{
		max-width: 1052px;
	}
}

.tile{
	align-items: stretch;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	h1, h2{
		color: $white !important;
	}
	.title{
		margin-bottom: 2rem;
	}
	.icon{
		margin-bottom: 2rem;
	}
	&.is-child{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2.5rem 2rem;
		background-color: $secondary-bg !important;
		box-shadow: 0 0 2px 0 $main-text;
		transition: border .2s ease-out;
		border: 1px solid transparent;
		&:hover{
			border-color: #f2f4f8;
			box-shadow: 0 15px 90px 0 rgba(35,38,60,.75);
		}
	}
	&.is-dark{
		background-color: $main-bg !important;
	}
	svg{
		fill: $main-text !important;
	}
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

.double-square-shape{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20vw 0;
	margin-top: 10vw;
	width: 100%;
	height: auto;
	padding: 5rem 0;
	border: 1px solid aliceblue;
	border-bottom: none;
	border-left: none;
	&.gradientBg{
		display: block;
		margin-left: 25%;
		display: none;
	}
	.inner-square-wrapper{
		position: relative;
		min-width: 49%;
		width: auto;
		min-height: 25vw;
		height: auto;
		display: block;
	}
	
}

.square{
	display: block;
	position: absolute;
	width: 25vw;
	height: 25vw;
	background-color: #171717;
	left: 0;
	top: 0;
	h3{
		color: $white;
		font-weight: 400;
		text-transform: capitalize;
		font-family: $main-font;
		line-height: 1.5;
		font-size: 10.74rem;
		padding: 1.25rem;
		text-align: center;
	}
	&.sq1{
		background: linear-gradient(to right, $primary-color, $secondary-color);
		border: 1px solid aliceblue;
		border-left: none;
		border-bottom: none;
		z-index: 10;
		
		&:before{
			display: block;
			position: absolute;
			top: 0;
			content: '';
			width: 0; 
			height: 0; 
			border-top: 12.5vw solid transparent;
			border-bottom: 12.5vw solid transparent; 
			border-left: 12.5vw solid $main-bg;
			z-index: -1 !important;
		}
		&:after{
			display: block;
			position: absolute;
			top: 12.5vw;
			left: 0;
			content: '';
			width: 0; 
			height: 0; 
			border-top: 12.5vw solid transparent;
			border-bottom: 12.5vw solid transparent; 
			border-right:12.5vw solid #171717;
			z-index: -1 !important;
		}
	}
	&.sq2{
		left: 12.5vw;
		top: 12.5vw;
		// border: 1px solid aliceblue;
		border-left: none;
		&:after{
			display: block;
			position: absolute;
			top: -12.5vw;
			right: 0;
			content: '';
			width: 0; 
			height: 0; 
			border-top: 12.5vw solid transparent;
			border-bottom: 12.5vw solid transparent; 
			border-left:12.5vw solid #171717;
		}
		&:before{
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			content: '';
			width: 0; 
			height: 0; 
			border-top: 12.5vw solid transparent;
			border-bottom: 12.5vw solid transparent; 
			border-right:12.5vw solid #171717;
		}
	}

}


@media screen and (min-width: 53em) {

}


// .square{
// 	display: block;
// 	position: absolute;
// 	width: 25vw;
// 	height: 25vw;
// 	background-color: $secondary-bg;
// 	left: 0;
// 	top: 0;
// 	&.sq1{
// 		z-index: 10;
// 		border: 1px solid aliceblue;
// 		border-left: none;
// 		&:after{
// 			display: block;
// 			position: absolute;
// 			top: 0;
// 			content: '';
// 			width: 0; 
// 			height: 0; 
// 			border-top: 12.5vw solid transparent;
// 			border-bottom: 12.5vw solid transparent; 
// 			border-left:12.5vw solid #171717;
// 		}
// 		&:before{
// 			display: block;
// 			position: absolute;
// 			top: 12.5vw;
// 			left: 0;
// 			content: '';
// 			width: 0; 
// 			height: 0; 
// 			border-top: 12.5vw solid transparent;
// 			border-bottom: 12.5vw solid transparent; 
// 			border-right:12.5vw solid #171717;
// 		}
// 	}
// 	&.sq2{
// 		left: 12.5vw;
// 		top: 12.5vw;
// 		&:after{
// 			display: block;
// 			position: absolute;
// 			top: -12.5vw;
// 			right: 0;
// 			content: '';
// 			width: 0; 
// 			height: 0; 
// 			border-top: 12.5vw solid transparent;
// 			border-bottom: 12.5vw solid transparent; 
// 			border-left:12.5vw solid #171717;
// 		}
// 		&:before{
// 			display: block;
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			content: '';
// 			width: 0; 
// 			height: 0; 
// 			border-top: 12.5vw solid transparent;
// 			border-bottom: 12.5vw solid transparent; 
// 			border-right:12.5vw solid #171717;
// 		}
// 	}
// }
