@import url('https://fonts.googleapis.com/css?family=Lora:300,400,400i,700|Source+Sans+Pro:300,400,700,800&display=swap');
// VARIABLES
$white: #ffffff;
$main-text: #9ea1b8;
$main-bg: #0b0d1b;
$secondary-bg: #23263c;
$primary-color: #2980b9;
$secondary-color: #6dd5fa;

$main-font: 'Lora', futura;
$secondary-font: 'Source Sans Pro', Tahoma, Verdana;
